<p>screening-details works!</p>
<div class="screening-details" *ngIf="screening">
    <mat-card >
        <mat-card-title-group>
            <mat-card-title>{{screening.film.title}}</mat-card-title>
            <mat-card-subtitle>
                <span>{{screening.date.toLocaleDateString()}}</span>
                <span> {{screening.time}}</span>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <mat-card-subtitle>Sold tickets: {{screening.soldTickets}}</mat-card-subtitle>
            <mat-card-subtitle>Available tickets: {{screening.availableTickets}}</mat-card-subtitle>
            <mat-card-subtitle>Room: {{screening.room.nr}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button>Buy tickets</button>
        </mat-card-footer>
    </mat-card>
</div>
