.buy-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.update-screening {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid black;
}