<div class="movies-list">
    <mat-list>
        <app-movie-item 
        *ngFor="let movie of movies"
        [movie]="movie"
        (onDeleteMovie)="deleteMovie(movie)"
        ></app-movie-item>
        <!-- <mat-list-item *ngFor="let movie of movies" >
            <div class="movie-item">
                <a mat-list-item [routerLink]="['/movies', movie.id]">{{movie.title}}  </a> 
                <fa-icon  (click)="onDelete(movie)" [ngStyle]="{'color': 'red'}" [icon] = "faTimes"></fa-icon> 
            </div>
        </mat-list-item> -->
    </mat-list>
    
</div>
<div>
    <h1>Add a new movie!</h1>
    <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Duration</mat-label>
                <input matInput formControlName="duration">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Cast</mat-label>
                <input matInput formControlName="cast">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button>Submit</button>
        </div>
    </form>
</div>


