<div *ngIf="movie">
    <h1>{{movie.title}}</h1>
    <div>
        <span>Duration: {{movie.duration}}</span>
    </div>
    <div>
        <span>Cast: {{movie.cast}}</span>
    </div>
    <div>
        <span>Description: {{movie.description}}</span>
    </div>
</div>

<div>
    <h1>Update movie!</h1>
    <form [formGroup]="updateMovieForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Duration</mat-label>
                <input matInput formControlName="duration">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Cast</mat-label>
                <input matInput formControlName="cast">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button>Submit</button>
        </div>
    </form>
</div>