<div *ngIf="movie">
    <mat-card>
        <mat-card-title-group>
            <div mat-card-avatar>
            </div>
            <a mat-card-title [routerLink]="['/movies', movie.id]">{{movie.title}} </a>
        </mat-card-title-group>
        <mat-card-content>
            <mat-card-subtitle>duration: {{movie.duration}}</mat-card-subtitle>
            <mat-card-subtitle>description: {{movie.description}}</mat-card-subtitle>
            <mat-card-subtitle>cast: {{movie.cast}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>

<div class="edit-movie">
    <h1>Update movie!</h1>
    <form [formGroup]="updateMovieForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput type="text"  name="title" id="title" formControlName="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Duration</mat-label>
                <input matInput  type="text"  name="duration" id="duration" formControlName="duration">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput  type="text"  name="description" id="description" formControlName="description">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Cast</mat-label>
                <input matInput  type="text"  name="cast" id="cast" formControlName="cast">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button>Submit</button>
        </div>
    </form>

    <div id="divChart">
        <canvas id="chart"> </canvas>
    </div>
    
</div>