a {
    color: white;
    text-decoration: none; /* no underline */
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.edit-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid black;
}

#divChart{
    padding: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: azure;
}