.screenings-list { 
    display: flex;
    flex-direction: column;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.screening-item {
    cursor: pointer;
    margin-top: 1rem;
}
.screening-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(53, 53, 53);
}
.add-screening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid rgb(53, 53, 53);
}

#divChart{
    display: block;
    width: 600px;
    height: 300px;
    background-color: azure;
}